
.content-featured{ 
	margin-bottom: 60px;  
	.widget{
		margin: 0;
	}
}








.single{
	.post-meta{
		@media screen and (max-width: 61.875em){
			.pull-left, .pull-right{
				position: absolute;
	    		top: -50px; 
			}
			.pull-left{
				left: 15px;
			}
			.pull-right{
				right: 15px;
			}
		}
	}
	.widget-title{
		margin-bottom: 30px;
	}
	.widget-relatedposts{
		@media screen and (min-width: 40em){
			column-count: 2;
			column-gap: 30px;
		}
		.item-cta{
			font-size: 0.8em;
		}
		.post-related{ 
			margin-bottom: 40px;
			p{
				margin-bottom: 10px;
			}
		}
	}
}




.archive, .tag{
	.page-hero{
		background-color: $color__gray_darker;
		text-align: center;
		.page-title{
			color: #fff;
			text-transform: uppercase;
		}
		.taxonomy-description{
			display: none;
		}
        @media only screen and (min-width: 62em){
            height: 400px;
            .item-content{
            	height: 400px;
            }
            .taxonomy-description{
            	display: block;
            }
        }
	}
}







//Template with sidebar image
//(404) page uses the same style
.page-template-template-sidebar-image, .error404{
	.content-area{
		display: flex;
		@media only screen and (max-width: 47.999em) {
			.decoration{
				width: 100%;
			}
		}
		@media only screen and (max-width: 74.999em){//1200px
			flex-direction: column-reverse;
			.site-main {
				width: 100%;
			}
			.decoration{
				min-height: 300px;
			}
		}

		@media only screen and (min-width: 48.000em) and (max-width: 74.999em){//768px
			.entry-content, .page-content {
				column-count: 2;
				column-gap: 40px;
			}
			.decoration{ 
				margin-left: 15px;
				width: calc(100% - 30px); 
    			background-position: center -150px!important;
			}
		}
		@media only screen and (min-width: 75.000em){//1200px 
			.decoration{
				margin-right: 15px;
			}
		}
	}


	.decoration{
		// background-image: url(https://images.unsplash.com/photo-1453847350175-b971869973d0?ixlib=rb-0.3.5…crop=entropy&cs=tinysrgb&w=1080&fit=max&s=52ef7a5b2be442d10c2c0f67f6bbe1e7);
		background-size: cover; 
		background-position: center top;
	}
}






// //Thank you template
// .page-template-template-thankyou{
// 	.contents{
// 		display: flex;
// 		@media only screen and (max-width: 48.000em){//768px 
// 			flex-direction: column;
// 			.content-message, .content-next{
// 				width: 100%;
// 			}
// 			.content-message{
// 				margin-bottom: 30px;
// 			}
// 		} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


// 		.content-message, .content-next{
// 			display: flex;
// 			flex-direction: column;
// 			min-height: 440px;
// 			background-size: cover;
// 		}
// 	}
// 	.content-message{
// 		justify-content: flex-end;
// 		text-align: center;
// 		background-image: url('./img/7-Friends.jpg');
// 		background-repeat: no-repeat;
// 		.entry-title, p{
// 			background: rgba(255,255,255,0.9);
// 		}
// 		.entry-title{
//     		margin: 0;
// 		}
// 	}	
// 	.content-next{
// 		.entry-footer{
// 			font-size: 1em;
// 		}
// 		ul{
// 			margin-top: 5px; 
// 			padding-left: 17px;
// 		}
// 	}
// 	.credits{
//     	@include font-family-serif();   
//     	text-align: center;
// 	}
// }



