/*------------------------------------*\
  #ALL-PAGES
\*------------------------------------*/

.content-featured{ 
	margin-bottom: 60px;  
	.widget{
		margin: 0;
	}
}







/*------------------------------------*\
  #SINGLE
\*------------------------------------*/

.single{
	.post-meta{
		@include no-bigger-than-medium {
			.pull-left, .pull-right{
				position: absolute;
	    		top: -50px; 
			}
			.pull-left{
				left: 15px;
			}
			.pull-right{
				right: 15px;
			}
		}
	}
	.widget-title{
		margin-bottom: 30px;
	}
	.widget-relatedposts{
		@include medium {
			column-count: 2;
			column-gap: 30px;
		}
		.item-cta{
			font-size: 0.8em;
		}
		.post-related{ 
			margin-bottom: 40px;
			p{
				margin-bottom: 10px;
			}
		}
	}
}





