
.content-featured{ 
	margin-bottom: 60px;  
	.widget{
		margin: 0;
	}
}








.single{
	.post-meta{
		@include no-bigger-than-medium {
			.pull-left, .pull-right{
				position: absolute;
	    		top: -50px; 
			}
			.pull-left{
				left: 15px;
			}
			.pull-right{
				right: 15px;
			}
		}
	}
	.widget-title{
		margin-bottom: 30px;
	}
	.widget-relatedposts{
		@include medium {
			column-count: 2;
			column-gap: 30px;
		}
		.item-cta{
			font-size: 0.8em;
		}
		.post-related{ 
			margin-bottom: 40px;
			p{
				margin-bottom: 10px;
			}
		}
	}
}




.archive, .tag{
	.page-hero{
		background-color: $color__gray_darker;
		text-align: center;
		.page-title{
			color: #fff;
			text-transform: uppercase;
		}
		.taxonomy-description{
			display: none;
		}
        @include large {
            height: 400px;
            .item-content{
            	height: 400px;
            }
            .taxonomy-description{
            	display: block;
            }
        }
	}
}







//Template with sidebar image
//(404) page uses the same style
.page-template-template-sidebar-image, .error404{
	.content-area{
		display: flex;
		@include small-only {
			.decoration{
				width: 100%;
			}
		}
		@include no-bigger-than-medium {
			flex-direction: column-reverse;
			.site-main {
				width: 100%;
			}
			.decoration{
				min-height: 300px;
			}
		}

		@include medium-only {
			.entry-content, .page-content {
				column-count: 2;
				column-gap: 40px;
			}
			.decoration{ 
				margin-left: 15px;
				width: calc(100% - 30px); 
    			background-position: center -150px!important;
			}
		}
		@include a-little-larger { 
			.decoration{
				margin-right: 15px;
			}
		}
	}


	.decoration{
		background-size: cover; 
		background-position: center top;
	}
}






