

.home,
.search{
	.content-latest-articles{  
		.card-frame{
			margin-bottom: 50px;
			.card{
				margin-bottom: 0;
			}
		} 
	}
	.wp-pagenavi{
		padding-top: 50px;    
	}

	.card .wp-post-image {
		width: 100%;
	}


	@include small-only {
		.site-main, .widget-area, 
		.card {
			width: 100%;
		}
	}
}







.home{
	.site-main, .content-latest-articles{
     	margin-bottom: 0;
  	}
	.page-hero{
		@include no-bigger-than-medium {
			margin-bottom: 30px;
		} 
	}
	.list--catfilter{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	    li{ 
			@include no-bigger-than-medium {
				margin: 10px;
			} 
		}
	}
}




