/*------------------------------------*\
  #SITE-CONTENT
\*------------------------------------*/

.entry-content, 
aside p, 
.entry-footer{ 
	line-height: 2.1em;

	//medium screens and up
	@include medium {
		line-height: 1.6em;
	}
}
.entry-header h2{
	margin: 0.7em 0 0.2em 0;
	font-size: 1.38em;
}
