/*------------------------------------*\
  #CARD
\*------------------------------------*/

/**
 * Based on:
 * http://ui-patterns.com/patterns/cards
*/



.card{ 
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow:         0px 7px 14px 0px rgba(50, 50, 50, 0.15); 
	p{ 
		color: $color__background-hr;
	}//$color__text-input
}

.card__content{
	padding: 2em;
}
.card__title{
	margin-top: 0;
}
.card__thumbnail{
	position: relative;
	.label{
		position: absolute;
	    top: 30px;
	    left: 30px;
	}
}
.card__footer{
	padding: 0;
	color: $color__text-input;
}



//.card--column
//Components arrangements are:
//1) thumbnail
//2) title
//3) text excerpt
//4) author, date, comments
.card--column{
	.entry-content{
		@include a-little-larger {
			min-height: 220px;
		} 	
	}
}




//.card--row
//Components arrangements are:
//1) thumbnail and "text block" in 1 row
//-> within "text block":
//-> 2) title
//-> 3) text excerpt
//-> 4) author, date, comments
.card--row{ 
	display: flex;
	margin-bottom: 50px; 
	padding-top: 20px;
	padding-bottom: 20px;
}
 

.card--row__content, 
.card--row__footer{ 
  	padding: 0;
}

.card--row__data-content{
	margin-left: 15px; 
} 
.card--row__footer{
	margin-top: 15px; 
	padding-top: 0;
}
.card--row__title{
	margin-top: 0;
	margin-bottom: 0;
}
.card--row__thumbnail{ 
	margin-right: 20px;
}







.card{   
	//Hide automatic social buttons
	//generate by "social warfare" plugin
	.nc_socialPanel{
		display:none;
	}
}





