/*------------------------------------*\
  #FOCUS-STYLES
\*------------------------------------*/

//colors ..
.main-navigation{ 
	@include large { 
		a{ 
			&:focus{
				border-color: #fff; 
			}
		}
	}
}


.logo, .btn-hamburger, .btn-close-sidebar, .hero__btn-scroll-down{
	&:focus{ 
		border: 1px solid $color__link;
		box-shadow: 0px 1px 20px 0px rgba(220,45,0,1);
		// @include large { 
		// 	border: 3px solid #fff;
		// } 
	}
}
 

.wp-pagenavi a{
	&:focus{
		background: #000; 
	}
} 

 


.widget a, .entry-footer a, .entry-content a,
.main-footer .main-navigation a, .main-footer p a{
	&:focus{
		background-color: $color__link;
		color: #fff; 
	}
}

.footer-copyright .list-inline a{
	&:focus{ 
		.fa{
			color: $color__link;
		}
	}
}






.main-navigation a, .logo,
.entry-content a, .entry-footer a, .widget a,
.wp-pagenavi a, .main-footer p a,
.footer-copyright .list-inline a,
.card .label, .btn-hamburger, .skip-link, .btn-close-sidebar,
.hero__btn-scroll-down{ 
	&:focus{ 
		outline: 0;
	}
}


