/*------------------------------------*\
  #FOCUS-STYLES
\*------------------------------------*/

//colors ..
.main-navigation{ 
	@include large { 
		a{ 
			&:focus{
				border-color: #fff; 
			}
		}
	}
}


.main-logo, .btn-hamburger{
	&:focus{
		@include large { 
			border: 3px solid #fff;
		} 
	}
}
 

.wp-pagenavi a{
	&:focus{
		background: #000; 
	}
}

.btn-round{
	border: 3px solid transparent; 
	&:focus{
		border: 3px solid #fff; 
	}
}

 

.main-navigation a{
	&:focus{
		color: $color__link; 
	} 
}

.widget a, .entry-footer a, .entry-content a,
.main-footer .main-navigation a, .main-footer p a{
	&:focus{
		background-color: $color__link;
		color: #fff; 
	}
}

.footer-copyright .list-inline a{
	&:focus{ 
		.fa{
			color: $color__link;
		}
	}
}






.main-navigation a, .main-logo,
.entry-content a, .entry-footer a, .widget a,
.wp-pagenavi a, .main-footer p a,
.footer-copyright .list-inline a,
.card .label, .btn-hamburger, .skip-link{ 
	&:focus{ 
		outline: 0;
	}
}


