/*------------------------------------*\
  #hero
\*------------------------------------*/

.hero__carousel-control{
  .icon-prev, .icon-next{
      color: $color__link;
      font-size: 40px;
  }
  .icon-prev{
      right: 20px;
      left: initial;
  }
  .icon-next{
      left: 0px;
  }
  @include large {
      width: 20%;
  }
}

.hero__carousel-indicators{
  bottom: 100px;
  @include no-bigger-than-medium {
      display: none;
  }
}
.hero__btn-scroll-down{  
  background: url(../img/sprite.png);
}




.hero__cta{
  color: $color__link;
  text-decoration: underline;
  &:hover{
      text-decoration: none;
  } 
}
.hero{
	.hero__excerpt, .hero__title, .hero__text-excerpt{
	 	color: #fff;
	}
}
.hero__excerpt{  
 	text-align: center;
 	@include large {
 		text-align: left;
 	}
}
.hero__title{ 
  a{ 
      color: #fff;
  }
  line-height: 1.1em;
  margin-top: 0;
  @include small-only {
  	font-size: 1.4em;
  }
}







/*------------------------------------*\
  #HERO-HOMEPAGE
\*------------------------------------*/

.hero{ 
	.home &{
		@include no-bigger-than-medium {
			margin-bottom: 30px;
		} 
	}
}







/*------------------------------------*\
  #HERO-ERROR-PAGE
\*------------------------------------*/

.error404{
	.hero__excerpt{
		text-align: center;
	  @include medium { 
			font-size: 2em;
	  }
	}
	.hero__title, .hero__subtitle{
    margin: 0;
	}
	.hero__title{
    color: $color__link;
    font-size: 3em;
	}
	.hero__subtitle{
		color: #fff;
	}
}







/*------------------------------------*\
  #HERO-ARCHIVE #HERO-TAG
\*------------------------------------*/
.archive, .tag{
	.hero{
		background-color: $color__gray_darker;
		text-align: center;
	  @include large {
	    height: 400px;
	    .hero__content{
	    	height: 400px;
	    }
	    .hero__taxonomy-description{
	    	display: block;
	    }
	  }
	}
	.hero__title{ 
		text-transform: uppercase;
	}
	.hero__taxonomy-description{
		display: none;
	}
} 






