/*------------------------------------*\
  #hero
\*------------------------------------*/

.hero{
	

    // I'm removing Bootstrap
    // ----------------------
    .carousel-control{
        .icon-prev, .icon-next{
            color: $color__link;
            font-size: 40px;
        }
        .icon-prev{
            right: 20px;
            left: initial;
        }
        .icon-next{
            left: 0px;
        }
        @include large {
            width: 20%;
        }
    }
}
.hero__btn-scroll-down{  
    background: url(../img/sprite.png);
}



.hero{ 
    $slide-height: 220px;
 
    .item-cta{
        color: $color__link;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        } 
    }
    .carousel-indicators{
        bottom: 100px;
        @include no-bigger-than-medium {
            display: none;
        }
    }
}
.hero__excerpt{  
    color: #fff;
}
.hero__title{
  color: #fff;
  a{ 
      color: #fff;
  }
  margin-top: 0;
}



.hero{
	.archive &, .tag &{
		background-color: $color__gray_darker;
		text-align: center;
		.page-title{
			color: #fff;
			text-transform: uppercase;
		}
		.taxonomy-description{
			display: none;
		}
        @include large {
            height: 400px;
            .item-content{
            	height: 400px;
            }
            .taxonomy-description{
            	display: block;
            }
        }
	}
}


.hero{ 
	.home &{
		@include no-bigger-than-medium {
			margin-bottom: 30px;
		} 
	}
}






