/*------------------------------------*\
  #EMBEDED-CODE
\*------------------------------------*/

/**
 * ".wp-pagenavi" (plugin)
 * ....
*/
.wp-pagenavi{
	.pages{
		display: none;
	}
	a, .current{
		padding: 6px 10px!important;
		border-width: 0!important;
		&:hover{
			color: $color__background-body;
			background-color: $color__text-headings;
		}
	}
	a{
		background: #999;
    	color: #fff;
	}
	.current{
		color: $color__background-body;
		background-color: $color__link;
	}
}