/*------------------------------------*\
  #POST
\*------------------------------------*/

.entry-footer{
	font-size: 0.7em;
	padding-top: 15px;
	// .fa{
	// 	color: $color__link;
	// }
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	} 
}
.entry-meta{
    @include font-family-serif();  
	//small screens only
	@include small-only {
		font-size: 0.85em;
	}
	> span{
		display: inline-block;
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}
  

.entry-title{ 
	@include small-only {
		font-size: 1.45em;
	}
}

blockquote{
	ol, ul{
		padding-left: 15px;
	}
}

.entry-content{ 
	a{
		text-decoration: underline;
		&:hover, &:focus{
			color: $color__link;
			text-decoration: none;
		}
	}
	strong{
		color: #000;
	}
}


.section-prev-next,
.section-comments-replies{
	margin-top: 50px;
}

.nav-links{

}
.post-navigation{
	.nav-previous, .nav-next{
		position: relative;
		padding: 0 0 15px 100px;  
		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.nav-next{ 
		&:before{
			content: 'Next : ';
		}
	}
	.nav-previous{ 
		&:before{
			content: 'Previous : ';
		}
	}
}


.entry-content{
 	figure{  
     	background: #333;
     	color: #eee;
     	padding: 10px;
     	margin: 0;
	   	figcaption{  
	     	font-size: 0.8em;
	     	line-height: 1.3em;
	     	margin-top: 10px;
	     	font-weight: 900; 
	   	}//figcaption 
    } //figure
}//.entry-content