
  

.entry-title{ 
	@include small-only {
		font-size: 1.45em;
	}
}

blockquote{
	ol, ul{
		padding-left: 15px;
	}
}

.entry-content{ 
	strong{
		color: #000;
	}
}


.section-prev-next,
.section-comments-replies{
	margin-top: 50px;
}

.nav-links{

}
.post-navigation{
	.nav-previous, .nav-next{
		position: relative;
		padding: 0 0 15px 100px;  
		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.nav-next{ 
		&:before{
			content: 'Next : ';
		}
	}
	.nav-previous{ 
		&:before{
			content: 'Previous : ';
		}
	}
}


.entry-content{
 	figure{  
     	background: #333;
     	color: #eee;
     	padding: 10px;
     	margin: 0;
	   	figcaption{  
	     	font-size: 0.8em;
	     	line-height: 1.3em;
	     	margin-top: 10px;
	     	font-weight: 900; 
	   	}//figcaption 
    } //figure
}//.entry-content