

.list-pills{
	a{
		text-decoration: none;
		border-radius: 30px;
		padding: 5px 20px;
	}
}
.pills-yaounde-style{
	a{
		border: 2px solid $color__link;
		color: $color__link;
		opacity: 0.3;

		&:focus{
			color: $color__link;
		}
		&:hover{
			&:not(.focus-removed){
				&:not(.current){
					color: $color__link;
					// background-color: $color__link;
					opacity: 1;  
				}
			}
		}
	}
}
.pills-douala-style{
	a{
		border: 2px solid transparent;  
	}
	li:not(.current-menu-item) a:hover{
		border-color: $color__link;
		color: $color__link;  
	}
}
.pills-red{ 
	li.current-menu-item a,
	a.current{
		color: #fff;
		background-color: $color__link;
		opacity: 1;
	}
}



