/*------------------------------------*\
  #BODY
\*------------------------------------*/

/**
 * From Foundation for Sites by ZURB
 * Version 6.2.4 
 */
/**
   * Remove default margin.
   */
body {
  margin: 0; }
html {
  font-size: 100%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }