/*------------------------------------*\
  #hero
\*------------------------------------*/

$hero-height: 260px;
.hero{ 
	margin-bottom: 80px;
}
.hero__btn-scroll-down{
	$dim: 32px;
	position: absolute;
  bottom: 30px;
  margin-left: 50%;
    left: -($dim/2);
  width: $dim;
  height: $dim;
  z-index: 30; 
}

.hero__label{
  display: inline-block;
  margin-bottom: 15px;
  @include small-only { 
    display: none;  
  }
} 
.hero__excerpt{
  @include small-only {
  	p { 
      display: none; 
    } 
  }
}
.hero__cta{ 
  font-size: 0.85em;
}
.hero__content{
  height: $hero-height;
} 
.hero__content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%; 
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.hero{
  position: relative; 
  overflow-y: hidden;
  height: $hero-height;

  .item .wp-post-image{
      position: absolute;
      top:0;
      left: 0;
      max-width: 100%;
      z-index: 1;
  }
  p{
      margin-bottom: 1.2em;
  }

  .carousel-inner{
      min-height: $hero-height;
  }


  @include medium {
      &.hero-full-screen{
          $hero-height: 400px;
          height: $hero-height;
          .carousel-inner,
          .hero__content{
              height: $hero-height;
          }  
      }
  }
  
  //...
  @include large {
      &.hero-full-screen{
          $hero-height: 630px;
          height: $hero-height;
          .carousel-inner,
          .hero__content{
              height: $hero-height; 
          }  
      } 
  }
    
  //...
  @include a-little-larger {
      &.hero-full-screen{
          $hero-height: 100vh;
          height: $hero-height;
          .carousel-inner,
          .hero__content{
              height: $hero-height;
          }     
      }
  } 
}
.hero__excerpt{ 
    position: relative; 
    width: 70%; 
    max-width:600px;  
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    z-index: 3; 
}










