/*------------------------------------*\
  #MAIN-FOOTER
\*------------------------------------*/

.main-footer{
	background-color: $color__text-headings;
	a{ 
		color: $color__background-body; 
	}

	> .flex-container{
		min-height: 300px;
		align-items: center; //horizontal align
		
		//smaller screens
		@include no-bigger-than-medium {  
			min-height: 400px;
			flex-direction: column;
		}
	}

	.logo-branding{ 
		width: 150px;
		margin: 0;
		&.logo-large{
			display:block;
		}
		&.logo-small{
			display:none;
		}
	}

}
.footer-copyright{
	text-align: center;
	span{
		color: #fff;
	}
}