/*------------------------------------*\
  #MAIN-NAVIGATION
\*------------------------------------*/

.main-navigation {
	display: flex;
	align-items: center; //center items vertically
	clear: both;  
 
	// Medium screens
	@include medium { 
		height: 60px; //looks like IE 11 and < doesn't like "min-height"
		> ul{
			&:first-child{
				margin-right: auto;
    			// li{ margin-right: 20px; }
			}
			&:last-child{
				margin-left: auto;
				// li{ margin-left: 20px; }
			}
			margin: 0;
    		padding: 0;
			li{
				display: inline-block;
			}
		} 
	} /* min-width 641px, medium screens */

	ul {  
		margin: 0;
		padding-left: 0;
	
	}
	
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block; 
	}
}

