/*------------------------------------*\
  #PAGE-HERO
\*------------------------------------*/

.page-hero{ 
	margin-bottom: 80px;

	.btn-push-down{
		$dim: 32px;
		position: absolute;
	    bottom: 30px;
	    margin-left: 50%;
        left: -($dim/2);
	    width: $dim;
	    height: $dim;
	    z-index: 30; 
	}

}

.page-hero__label{
  display: inline-block;
  margin-bottom: 15px;
  @include small-only { 
    display: none;  
  }
} 
.page-hero__excerpt{
  @include small-only {
  	p { 
      display: none; 
    } 
  }
}
.page-hero{
    position: relative; 
    overflow-y: hidden;
    $slide-height: 260px;
    height: $slide-height;

    // .carousel-inner,
    .item-content{
        height: $slide-height;
    } 
    .item-content{
        position: absolute;
        top:0;
        left: 0;
        width: 100%; 
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .page-hero__excerpt{ 
        position: relative; 
        width: 70%; 
        max-width:600px;  
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        z-index: 3; 
    }
    .item .wp-post-image{
        position: absolute;
        top:0;
        left: 0;
        max-width: 100%;
        z-index: 1;
    }
    p{
        margin-bottom: 1.2em;
    }
    .item-cta{ 
        font-size: 0.85em;
    }

    .carousel-inner{
        min-height: $slide-height;
    }


    @include medium {
        &.page-hero-full-screen{
            $slide-height: 400px;
            height: $slide-height;
            .carousel-inner,
            .item-content{
                height: $slide-height;
            }  
        }
    }
    
    //...
    @include large {
        &.page-hero-full-screen{
            $slide-height: 630px;
            height: $slide-height;
            .carousel-inner,
            .item-content{
                height: $slide-height; 
            }  
        } 
    }
    
    //...
    @include a-little-larger {
        &.page-hero-full-screen{
            $slide-height: 100vh;
            height: $slide-height;
            .carousel-inner,
            .item-content{
                height: $slide-height;
            }     
        }
    } 
}



