/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/

.site-header{ 
	position: absolute;
	width: 100%;
    z-index: 20;

  > .flex-container{
  	@include large {
	  	height: 200px; 
		}
  }

  .btn-hamburger{ 
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 0.7em;
    font-size: 1.1em;
    //Hide on larger devices ...
    @include large {
			display: none; 
    }
  }
  //Hide on less than larger devices ...
  @include no-bigger-than-medium {
      .main-navigation{
			display: none;
		}
  }
}



