$color__background-body: #fff;
$color__background-screen: #f9f9fb;
$color__background-hr: #9a9696;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__placeholder: #888;

$color__text-headings: #000;
$color__text-screen: #21759b;
$color__text-input: #5b5453;
$color__text-input-focus: #111;
$color__link: #dc2d00;
$color__link-visited: purple;
$color__link-hover: #1387e0;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__gray_darker : #333;

$color__success : #3c763d;
$color__success_light : #dff0d8;
$color__error : #a94442;
$color__error_light : #f2dede;
