// .home,
// .search{
// 	.content-latest-articles{
// 		margin-bottom: 50px; 
// 		column-count: 1;  
// 		column-gap: 40px;
// 		@media only screen and (min-width: 62em){  
// 			column-count: 2; 
// 		}
// 		@media only screen and (min-width: 74.999em){
// 			column-count: 3; 
// 		}
// 		.post-sample{
// 			display: inline-block;
// 		}
// 	}
// }


.home,
.search{
	.content-latest-articles{  
		@media screen and (max-width: 63.999em){ 
			.post-sample:nth-last-of-type(1){
				margin-bottom: 0;
			}
		}  
	}
	.wp-pagenavi{
		padding-top: 50px;    
	}

	.post-sample .wp-post-image {
		width: 100%;
	}


	@media only screen and (max-width: 48.000em){//768px
		.site-main, .widget-area, 
		.post-sample {
			width: 100%;
		}
	}
	
	@media only screen and (max-width: 74.999em){//1200px
		.post-sample {
			width: 100%;
		}
	} 
}







.home{
	.site-main, .content-latest-articles{
     	margin-bottom: 0;
  	}
	.page-hero{
		@media only screen and (max-width: 61.999em){
			margin-bottom: 30px;
		} 
	}
	.list--catfilter{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	    li{ 
			@media only screen and (max-width: 61.999em){
				margin: 10px;
			} 
		}
	}
}




