/*------------------------------------*\
  #LOGO
\*------------------------------------*/

.logo__svg{ 
  width: 200px;     
}







/*------------------------------------*\
  #LOGO SMALL
\*------------------------------------*/

.logo--small{
	.site-header &{
  	position: absolute;
    left: 20px;
    top: 10px; 
	}  
}







/*------------------------------------*\
  #LOGO LARGE
\*------------------------------------*/

.logo--large{
	.site-header &{ 
		width: 220px;
	} 
}


 