
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Adding some smooth transition */
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


body{
	&.main-sidebar-active{ 
		&:before{
			content: '';
			position: fixed;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			z-index: 30;
			background-color: rgba(0,0,0,0.6);

		    //Hide for larger devices ...
		    @include large {//992px
		        display: none;
		    }
		}

		.main-sidebar{
			transform: translate(0,0);
		}//main-sidebar
	}//main-sidebar-active
}


body{
	color: $color__text-input;
	background-color: $color__background-screen;
}

h1, h2, h3, h4, h5, h6{
	color: $color__text-headings;
}



a{
	color: #000;
	&:hover{
		color: $color__link;
	}
}




blockquote{
    border-left: 2px solid $color__link;
    margin-left: 0;
    padding: 10px 10px 10px 50px;
    font-style: italic; 
    color: $color__text-headings;
    @include font-family-serif(); 
}


