/*------------------------------------*\
  #BODY
\*------------------------------------*/

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Adding some smooth transition */
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}




body{
	color: $color__text-input;
	background-color: $color__background-screen;
}









h1, h2, h3, h4, h5, h6{
	color: $color__text-headings;
}



a{
	color: #000;
	text-decoration: none;
	&:hover{
		color: $color__link;
	}
}




blockquote{
    border-left: 2px solid $color__link;
    margin-left: 0;
    padding: 10px 10px 10px 50px;
    font-style: italic; 
    color: $color__text-headings;
    @include font-family-serif(); 
}


