/*------------------------------------*\
  #MAIN-FOOTER
\*------------------------------------*/

.main-footer{ 
	p{
		a{
			&:hover{
				color: $color__link; 
			}
		}
	}

	.logo-branding{  
		//smaller screens
		@include no-bigger-than-medium {  
			margin: 0 auto;
			&.logo-large{
				display:none;
			}
			&.logo-small{
				display:block;
			}
		} 
	} 

	.main-navigation{
		margin: 0;
		justify-content: flex-end;
		font-size: 0.8em;
		//smaller screens
		@include no-bigger-than-medium {  
			justify-content: center;
		}
		li{
			margin-left: 10px;
    		margin-right: 10px;
		}
		a{
			&:hover{
				color: $color__link;
			}
		}
	}
}
.footer-item{
	flex: 1;

	.main-logo{
		display: inline-block;
	}
		
	//smaller screens
	@include no-bigger-than-medium {  
		margin-left: 0.9375rem;
		margin-right: 0.9375rem;
		max-width: 350px;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
	//larger screens
	@include large {  
		height: 100px; 
	}
} 
.footer-copyright{
	p{
		margin-top: 0;
	}
	ul{
		margin-bottom: 0;
	}
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.list-inline{
		li{
			margin-left: 2px;
			margin-right: 2px;
		}
		a:hover{
			.fa{ 
				color: $color__link;
			}
		}
	}
}
     