/*------------------------------------*\
  #MAIN-NAVIGATION
\*------------------------------------*/

.main-navigation{ 
	a{
		text-transform: uppercase; 
		font-size: 1em; 
		font-weight: 900;
		&:focus{
			color: #fff;
			background-color: lighten($color__link, 30)!important;
	    @include large {
				border: 3px solid transparent!important;
	    }
		} 
	}
	.current_page_item{
		a{  
			color: #fff;
			background-color: $color__link;
	    @include large {
				border: 3px solid $color__link; 
	    }
		}
	}
}

 

/**
 * ".main-navigation"
 * ....
*/
.main-navigation {  
	ul {   
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); 
		}
	} 
}