/*------------------------------------*\
  #SITE-HEADER
\*------------------------------------*/

.site-branding{
	.site-title{
		a{ 
			color: $color__text-headings;
			text-decoration: none;
		}
	}
	.site-description{
		text-transform: uppercase;
		color: $color__text-input;
		@include small-only { 
			font-size: 0.5em;
		}
	}
} 
